__pycache__
postgres_credentials.py
analytical_files
logs/*
airflow-webserver.pd
.DS_Store
**/.DS_Store
airflow.cfg
airflow*
!airflow/
!airflow/dags/
!airflow/dags/**
.env
**/.Rhistory.venv/
.venv/
dbt/target/*
dbt/logs/*
*.duckdb